body{
    overflow-x: hidden;
}
@font-face{
    font-family: abel-regular;
    src: url('./fonts/abel-regular.ttf');
}@font-face{
    font-family: proxima;
    src: url('./fonts/Proxima Nova Extrabold.otf');
}@font-face{
    font-family: proximaReg;
    src: url('./fonts/Proxima Nova Regular.otf');
}@font-face{
    font-family: abel;
    src: url('./fonts/abel-regular.ttf');
}.logo{
    padding-left: 54px;
    padding-top: 36px;
}
body{
    margin: 0;
    background: url('images/back.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
}.logo2{
    margin-top: 33px;
}.white{
    background-color: #fff;
    width: 100%;
    margin-top: 51px;
}.text1{
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: proxima;
    font-size: 3.68em;
    color: #16a1cf;
}.box .left:before,.box .right:after{
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    vertical-align: middle;
    width: 50%;
   }.box .left:before{
       left: 0;
       transform: translateX(-150px);
       top: 85px;
   }.box .right:after{
       right: 0;
       transform: translateX(87px);
       top: 85px;
   }.regular{
       font-family: proximaReg;
       font-size: 20px;
       color: #fff;
   }h1.text1{
       color: #fff;
   }a:link{
    text-decoration:none;
    color: #fff;
    font-family: abel;
    font-size: 20px;
  }.btn{
    margin-top: 40px;
    width: 223px;
    height: 54px;
    border: 1px solid #fff;
    text-align: center;
    padding-top: 10px;
  }.box .col-md-6:nth-of-type(1){
      width: 343px;
  }.box .col-md-6:nth-of-type(2){
      width: 430px;
      float: right;
  }.btn.focus, .btn:focus, .btn:hover{
      background-color: #1caed7;
      color: black;
      text-decoration: none;
      transition: 0.5s all ease-in-out;
      border: black;
  }.box{
      position: relative;
  }
  @media (max-width: 768px){
      .btn{
          width: 130px; 
      }.box .col-md-6:nth-of-type(2){
        float: left;
        width: auto;
    }.box .left::before, .box .right::after{
        content: none;
    }
  }
       
   
   